root = true

[*]
end_of_line = lf
charset = utf-8

[*.{json,md,py,sh,yaml,yml}]
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,md,sh,yaml,yml}]
indent_size = 2

[*.py]
indent_size = 4
